/* Set height of body and the document to 100% */

body, html {
  height: 100%;
  margin: 0;
  font-family: Segoe UI Black;
  font-size: 40px;
}

.header {
  background-color: white;
  padding: 5px;
  text-align: center;
}

.logo_item {
  width: 25%;
}

.loginForm {
  font-size: 15px;
}

.icons {
  width: 15%;
  vertical-align: middle;
}

.bodyIntro {
    text-align: center;
}

.homePageImage{
    width: 80%;
}

.footerColumn1{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
}

.footerColumn2{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 40px;
}

.footerTextCopy {
  font-size: 16px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}


/* Style tab links */

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 80%;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  width: 16.66666666%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
    font-family: TW Cen MT;
    padding-left: 10px;
    background-color: #dddddd;
    font-size: 42%;
}

#Home {
  background-color: #fffff2;
}

#Pacman {
  background-color: #eeffee;
}

#SnakeGame {
  background-color: #ececff;
}

#Run {
  background-color: #fff8ed;
}

#Pong {
  background-color: #fff8ec;
}

#Profile {
  background-color: #d5d5d5;
  font-family: arial;
  color: #FAFAFA;
  text-transform: uppercase;
  text-align: center;
}
