/* Set height of body and the document to 100% */

body, html {
  height: 100%;
  margin: 0;
  font-family: Segoe UI Black;
  font-size: 40px;
}

.header {
  background-color: white;
  padding: 5px;
  text-align: center;
}

.body {
  /*height: 40%;*/
}

.logo_item {
  width: 25%;
}

.loginForm {
  font-size: 15px;
}

.icons {
  width: 15%
}

.footerText {
  font-family: Segoe UI Black;
  font-size: 20px;
  padding-left: 10px;
}

.footerText2 {
  font-family: Franklin Gothic Medium;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.footerText3 {
  font-size: 12px;
  padding-left: 10px;
}

/* Style tab links */

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 80%;
  width: 16.66666666%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-size: 15px;
    padding-left: 10px;
}

#Home {
  background-color: #ffeeee;
}

#Pacman {
  background-color: #eeffee;
}

#SnakeGame {
  background-color: #ececff;
}

#Run {
  background-color: #fff8ed;
}

#Pong {
  background-color: #fff8ec;
}

#Profile {
  background-color: #d5d5d5;
  font-family: arial;
  color: #FAFAFA;
  text-transform: uppercase;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid yellow;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
